@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  @apply bg-onandoffSelection;
  @apply text-black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.onandoff-hero-bg {
  background-image: radial-gradient(70% 70% at 50% 100%,#e8e8e8 0,#fafafa 100%);
}
